label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: right;
    width: 50px;
  }
  
  input {
    height: 20px;

  }
  .margin-gap{margin-top: 20px;}
  
  